@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');


*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: "Exo 2", serif;
}

ul ,ol{
    padding: 0;
    margin: 0;
}

.inner_banner{
    background: url(/assets/images/01-1024x576.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 130px 0px;

}

.inner_banner_content h3 ,h4{
    color: #fff;
}
.header_section{
    background: #141d24;
}

.menu ul li a{
    color: #fff;
}

.navbar-toggler{
    background: coral;
}

.menu ul li a:hover{
    color: coral;
}
.carousel-item img{
    height: 100vh;
}

.inroduction_content p{
    text-align: justify;
}


.documents_item{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 10px 0px;
}
.documents_item img{
    height: 200px;
}
.documents_item h3{
    font-size: 22px;
    color: red;
}

.documents_item  p{
    text-align: justify;
}
.documents_item .card-header{
    padding: 0;
    border-bottom: 0;
}
.tab-content .row img{
    margin: 10px 0px;
}

.footer_top{
    background: #141d24;

}

.footer_about p{
    color: #fff;
    text-align: justify;
    margin: 10px 0px;
}

.footer_menu h4{
    color: #fff;
}

.footer_menu ul li{
    list-style: none;
}


.footer_menu ul li a{
 text-decoration: none;
 color: #fff;
 padding: 15px 0px;

}

.copyright{
    background: coral;
}

/* contact page */

.contact_item{
    padding: 10px 25px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-align: center;

}

.contact_form textarea{

 width: 100%;
}

.contact_form .form-group{
    padding: 5px 0px;
}

.contact_form_section h4{
    color: #141d24;
}

/* media query css */

@media screen and (max-width: 480px) {

    .map iframe{
        width: 400px;
        margin: 20px 0px;
    }
}